.ProductPage{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.Images{
    display: flex;
    margin: 20px;
}

.imgContainer{
    width: 10vw;
    display: flex;
    flex-direction: column;
}

.MainImageContainer{

}

.Images img{
    margin: 10px;
    cursor: pointer;
}