.Text{
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    border: black solid 1px;
    font-size: 2vw;
    height: 4vw;
    width: 6vw;
}

.ChosenAttribute{
    border:#2196f3 2px solid;
}

.Color{
    margin: 5px;
    border: black solid 1px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}