.ChooseImages{
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: auto;
}

.ChosenImage{
    height: 80vh;
}

.ChosenImage img{
    height: 100%;
}

.ChooseImages img{
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    height: 15vh;
}

.Images{
    display: flex;
}